@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 19 77% 57%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --tertiary: 350 64% 97%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 237 22% 20%;
    --foreground: 210 21% 98%;
    --card: 240 19% 16%;
    --card-foreground: 210 20% 98%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 210 21% 98%;
    --primary: 19 77% 57%;
    --primary-foreground: 210 20% 98%;
    --secondary: 240 19% 16%;
    --secondary-foreground: 210 20% 98%;
    --tertiary: 233 19% 23%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 237 13% 63%;
    --accent: 240 19% 16%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.2% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 240 5.9% 90%;
    --input: 240 3.7% 15.9%;
    --ring: 24.5 95% 53.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.h1 {
  @apply font-[family-name:var(--font-oswald)]  text-6xl xl:text-[66px] xl:leading-[80px] tracking-[-2px] font-bold mb-5 mt-4;
}
.h2 {
  @apply font-[family-name:var(--font-oswald)]  text-4xl lg:text-5xl xl:leading-[80px] tracking-[0px] font-bold mb-5 mt-4;
}

.p {
  @apply font-[family-name:var(--font-quattrocento)] font-medium text-xl;
}

.title {
  @apply font-[family-name:var(--font-oswald)] font-semibold tracking-wide;
}
.quattrocento {
  @apply font-[family-name:var(--font-quattrocento)];
}
.oswald {
  @apply font-[family-name:var(--font-oswald)];
}
.russoOne {
  @apply font-[family-name:var(--font-russoOne)];
}
@layer utilities {
  .hex-img-container {
    clip-path: polygon(0% 0%, 85% 0%, 100% 15%, 100% 100%, 15% 100%, 0% 85%);
  }
}
@layer utilities {
  .hex-img-container2 {
    clip-path: polygon(0% 0%, 85% 0%, 100% 15%, 100% 100%, 0% 100%);
  }
}
